


body {
    background-color: #7e7575;
}
input{
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

button {
    display: block;
}

form{
    width: 30rem;
    margin: 3rem auto;
    background-color: white;
    padding: 1rem;
    border-radius: 6px;
}